
/*-- scss:defaults --*/
// Primärfarbe

$phhd-blau: #094372
$phhd-gelb: #ffc50b
$phhd-hellblau:#1c87ce
$phhd-gruen: #d9e126
$phhd-violett: #9478b6

// Lehrplan21
$Zyklus3: #97C941;
$Zyklus2: #2F8FCE;
$Zyklus1: #E39B2D;
$LProt: #CD202C;
$LPGrundanspruch: #DDDDD7;

$titelfarbe: #1a1a1a;


$linkhover: $bordeauxhover;
$link-color: $linkfarbe;
$font-family-base: 'Barlow', sans-serif;

$primary:$phhd-blau


/*-- scss:rules --*/

.reveal ol{
  margin: 0 0 0 1.1em;
  margin-bottom: 0rem;
}

.nav-footer a {
    font-weight:700;
}
.nav-footer a:hover {
    text-decoration: none!important;
    color:$flieder1!important;
}

main a:not(.knopf):not(.nav-link):not(header a):not(.listing-title):not(.page-link),
.reveal a:not(.knopf) {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: $linkhover; 
    text-decoration: underline;
  }
}

.page-item.active .page-link{
  background-color: $bordeaux;
  border-color: $bordeaux;
}

h2{
  border-bottom: 0px solid #dee2e6;
  padding-bottom: 0rem;
}

h1, h2, h3{
  font-family: Georgia;
  font-weight: bold;
}


hr {
    border-top: 2px solid $phrot;
    width: 60%;
    margin: auto;
    opacity: 0.5;
}


.beispiel {
    background-color: $phorange3;
border-left: 1rem solid $phorange1;
}

.knopf {
  display: inline-block;
  padding: 10px 20px;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: $bordeaux;
  color: white !important;
}
.knopf:hover {
  color: white; /* Change the text color on hover */
  background-color:$bordeauxhover;
}

.knopf-klein {
  background-color: $blau;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.knopf-klein:hover {
  background-color: $blauhover;
}

.indikator {
  background-color: $Zyklus3;
  padding: 0.2rem;
  padding: 0px 10px;
}

.stufe {
  background-color: $Zyklus3;
  padding: 0.2rem;
  padding: 0px 10px;
}

.zyklus2 {
  background-color: $Zyklus2;
}

.accordion-button{
  padding-bottom: 0rem;
  padding-top:0rem;
  background-color:#f0f0f0;
}

.accordion-header p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

td {
  vertical-align: middle;
}

.reveal blockquote{
  font-style: italic;
}



.quelle {
  text-align: right;
  font-size: 0.6rem;
  font-style: normal; 
  color: $schwarz3;
  display: block;
}

.quarto-title-banner{
  padding-bottom: 0em;
  background:inherit;
}

.quarto-title {
  @extend .page-full !optional;
  /* Additional styles for the quarto-title class */
  margin-left: 4%;
  color:$titelfarbe;
  grid-column: body-content-start/body-content-end;
}

.dropdown-item{
  color:$titelfarbe;
}

.header-section-number{
  color:inherit;
}

.slides h1 {
      text-decoration: underline;
      text-decoration-color: $bordeaux;
}

.reveal .footer{
  font-size: 0.7rem !important;
}

h1.title small  {
      text-decoration: underline ;
      text-decoration-color: $bordeaux ;
}

.callout.callout-style-default .callout-body {
  font-size: inherit;
}

h1, .quarto-title-banner {
color: $titelfarbe!important;
} 

.agenda-active {
  color: $bordeaux;
}


.quarto-float-caption-bottom.quarto-float-caption.quarto-float-fig {
    text-align: center;
}
